<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Awele Iamsi TME 1</title>

    
    

</head>
<body>
	<div class="container">
    	<div class="row">
     		<div class="docs-section" style="margin-top: 5%">
    			<div class="12 columns">
    				<h3>PyAwele</h3>
     			</div>     			
     		</div>
   		</div>
    	<div class="row">
     		<div class="docs-section" style="margin-top: 10%, margin-bottom: 10%">
    			<div class="three columns">
					<h1 id="c1" class="ia">IA Alléatoire</h1>
				</div>
				<div class="three columns">
					<h1 id="c2" class="ia">IA Minimax</h1>
				</div>
				<div class="three columns">
					<h1 class="ia">IA  AlphaBeta (soon)	</h1>
				</div>
	    		
			</div>
		</div>
	</div>


</body>
</html>
